<!DOCTYPE html>

<html>
    <head>
        <title>TRYSTAR Login Form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="css/style.css"/>

    </head>
    <body>

        <div class="col-md-4 col-md-offset-4 MainFormFirstPage" id="MainFormFirstPage">
         <form action="index.php?action=checkForUser" method="POST">
                    <div class="form-group">
                        <div class="control-group {{errorUser}}">
                            <label for="inputError">User Name</label>
                            <div class="controls">
                                <input type="text" class="form-control" id="inputError" aria-describedby="emailHelp"
                                       placeholder="{{userName}}" name="name" value="{{userInput}}">
                            </div>
                        </div>

                        <div class="control-group {{errorPass}}">
                            <label for="pass">Your Password</label>
                            <input type="password" class="form-control" id="password" aria-describedby="password"
                                   placeholder="{{password}}" name="pass">
                        </div>
                        </br>
                        <button id="subButton" type="submit" name="submit" value="Login" class="btn btn-primary col-xs-5 pull-left">Login</button>
                        <a id="RegisterFormBtn" class="btn btn-primary col-xs-5 pull-right" role="button">New User?</a>

                    </div>
            </form>
        </div>
        <div class="col-md-4 col-md-offset-4 MainFormFirstPage" id="RegisterPage" style="display: none">

            <form action="index.php?action=Register" method="POST">
                <div class="form-group">
                    <div class="control-group ">
                        <label for="inputError">New User Name</label>
                        <div class="controls">
                            <input type="text" class="form-control" id="nameUserRegistration" aria-describedby="emailHelp"
                                   placeholder="{{userName}}" name="name" value="{{userInput}}">
                        </div>
                    </div>

                    <div class="control-group ">
                        <label for="pass">Your Password</label>
                        <input type="password" class="form-control passwordRejest"  aria-describedby="password"
                               placeholder="Enter your Password" name="pass">
                    </div>
                    <div class="control-group ">
                        <label for="passRep">Repeat Password</label>
                        <input type="password" class="form-control passwordRejest"  aria-describedby="password"
                               placeholder="Repeat your Password" name="passRep">
                    </div>
                    </br>
                    <button id="RegisterBtn" type="submit" name="submit" value="Register" class="btn btn-primary col-xs-5 pull-right">Register new User</button>
                    <a id="backButton"  class="btn btn-primary col-xs-5 pull-left" role="button">Go Back</a>
                </div>
            </form>

        </div>
        
        <script src="JS/jquery-3.2.0.min.js" type="text/javascript"></script>
        <script src="JS/bootstrap.min.js" type="text/javascript"></script>
        <script src="JS/mainScript.js?seed={{ random(1000000000) }} " type="text/javascript"></script>
        
    </body>
</html>
