<!DOCTYPE html>

<html>
<head>
    <title>TRYSTAR Administration Panel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/style.css"/>

</head>
<body>

<div>


</div>
<div class="row">
<div class="col-md-4 col-md-offset-4 MainFormFirstPage" id="MainFormFirstPage">
    <div id="userInfo">Witaj {{ name }}! (<a href="index.php?action=logout" class="logout" >wyloguj</a>)</div>
    <div>
        <ul class="list-group" id="crossroadsInfo"><h1>Crossroads:</h1>
            {% for crossroad in crossroads %}
            <li id="{{crossroad.getId()}}" class="list-group-item">{{crossroad.getName()}}
            <button class="btn btn-danger btn-xs pull-right removeBtn">remove</button></li>
            {% endfor %}
        </ul>
        {% if maxPages > 1 %}
        <ul class="pagination pagination-sm">

            {% if thisPage != 1 %}
            <li>
            <a href="index.php?action=login&page={{ thisPage -1}}">«</a>
            </li>
            {% endif %}

            {% for i in 1..maxPages %}
            <li {{ thisPage == i ? 'class="active"' }}>
            <a href="index.php?action=login&page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %}

            {% if thisPage != maxPages %}
            <li>
            <a href="index.php?action=login&page={{ thisPage +1}}">»</a>
            </li>
            {% endif %}

        </ul>
        {% endif %}
        <button id="addNewCrossroad" class="btn btn-success">AddCrossroad</button>
    </div>

</div>
    <div class="col-md-4 col-md-offset-1 MainFormFirstPage" id="MainFormFirstPage2" style="display: none"></div>
    <div class="col-md-4 col-md-offset-4 MainFormFirstPage" id="RegisterForm" style="display: none">

        <form action="index.php?action=addNewCrossroad" method="POST">
            <div class="form-group">
                <div class="control-group {{errorUser}}">
                    <label for="inputError">User Name</label>
                    <div class="controls">
                        <input type="text" class="form-control" id="inputError" aria-describedby="emailHelp"
                               placeholder="{{userName}}" name="name" value="{{userInput}}">
                    </div>
                </div>

                <div class="control-group {{errorPass}}">
                    <label for="password">Your Password</label>
                    <input type="password" class="form-control" id="password" aria-describedby="password"
                           placeholder="{{password}}" name="pass">
                </div>
                </br>
                <button id="subButton" type="submit" name="submit" value="Register" class="btn btn-primary col-xs-5 pull-right">Add New Crossroad</button>
            </div>
        </form>

    </div>
    <div class="container MainFormFirstPage" id="MainFormFirstPage3" style="display: none">
    <div class="stepwizard col-md-offset-3" >
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
                <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                <p>Step 1</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p>Step 2</p>
            </div>
            <div class="stepwizard-step">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p>Step 3</p>
            </div>
        </div>
    </div>

    <form role="form" action="index.php?action=addNewCrossroad" method="post">
        <div class="row setup-content" id="step-1">
            <div class="col-xs-6 col-md-offset-3">
                <div class="col-md-12">
                    <h3> Name new Crossroad</h3>
                    <div class="form-group">
                        <label class="control-label">Crossroad location</label>
                        <input  maxlength="100" type="text" required="required" class="form-control" placeholder="Street" name="crossroadName" />
                    </div>
                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-2">
            <div class="col-xs-6 col-md-offset-3">
                <div class="col-md-12">
                    <h3> Time Intervals</h3>
                    <div class="form-group">
                        <label for="sel1">How long do you want red/green light to be on:</label>
                        <select class="form-control" id="sel1" name="Green/red">
                            <option>10 secounds</option>
                            <option>20 secounds</option>
                            <option>30 secounds</option>
                            <option>40 secounds</option>
                            <option>50 secounds</option>
                            <option>60 secounds</option>
                            <option>90 secounds</option>
                            <option>120 secounds</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel2">How long do you want yellow light to be on:</label>
                        <select class="form-control" id="sel2" name="Yellow">
                            <option>5 secounds</option>
                            <option>10 secounds</option>
                            <option>15 secounds</option>
                            <option>20 secounds</option>
                        </select>
                    </div>
                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
                </div>
            </div>
        </div>
        <div class="row setup-content" id="step-3">
            <div class="col-xs-6 col-md-offset-3">
                <div class="col-md-12">
                    <h3> Confirmation</h3>
                    <p>Are you sure you want to add new Crossroad?</p>
                    <button class="btn btn-success btn-lg pull-right" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
</div>

<script src="JS/jquery-3.2.0.min.js" type="text/javascript"></script>
<script src="JS/bootstrap.min.js" type="text/javascript"></script>
<script src="JS/mainScript.js?seed={{ random(1000000000) }} " type="text/javascript"></script>
</body>
</html>
