<style>
    #iframe { width: 100%; height: 280px; padding: 0; overflow: hidden; }
    #frame { width: 800px; height: 520px; border: 1px solid black; }
    #frame {
         -ms-zoom: 0.5;
         -moz-transform: scale(0.5);
         -moz-transform-origin: 0 0;
         -o-transform: scale(0.5);
         -o-transform-origin: 0 0;
         -webkit-transform: scale(0.5);
         -webkit-transform-origin: 0 0;
    }
</style>

        <div>
            <ul class="list-group" ><h1>Phase:</h1>

                <li id="{{phases.getId}}" class="list-group-item phaseGroup">{{phases.getPhaseOrder}}</li>
                <button id="ChangeLightPhase" class="btn btn-success">Change light Phase</button>
            </ul>
            <ul class="list-group" id="phasesToChange"><h1>Light State:</h1>
                {% for light in lights %}
                <li id="{{light.getId()}}" class="list-group-item lightGroup">Light {{light.getId()}} has now <strong>{{light.getState}}</strong> state</li>
                {% endfor %}
            </ul>
            <div id="iframe" style="display: none">
                <iframe src="http://crossroad.local/" id="frame"></iframe>
            </div>
            <button id="showActualCrossroad" class="btn btn-success">Change View</button>
        </div>


        <script type="text/javascript"> main.PhasesAndLights()</script>
